.main {
  z-index: 1;
}

.container {
  position: relative;
  height: 200vh;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    /* background: url("/PastEventsBg2.png") center / cover no-repeat; */
    opacity: 0.4;
    z-index: -1;
  }
}

.stickyMask {
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: black;
  align-items: center;
  justify-content: center;
  -webkit-mask-image: url("/media/Frame_v2.svg");
  mask-image: url("/media/Frame_v2.svg");
  -webkit-mask-position: 53% 37%;
  mask-position: 53% 37%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 80%;
  mask-size: 80%;
}

.stickyMask video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
