.header{
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 50;
 
    .menu{

        width: 480px;

        height: 650px;

        background-color:#FFCA28;

        border-radius: 25px;

        position: relative;

    }
}